

$primary-color: #B484F7;
$secondary-color: #9E71E4;

* {
    box-sizing: border-box;
}

html, body {
    font-family: 'Lato', arial, sans-serif;
    font-size: 100%;
    font-weight: 400;
}

body {
    background-color: $primary-color;
    color: white; 
}

button {
    color: black;
    background: white;
    -webkit-appearance: none;
    border: white 2px solid;
    border-radius: 2px;
    text-transform: uppercase;
    font-size: 11px;
    letter-spacing: 2px;
    width: 120px;
    padding: 20px 10px;
    outline: none;
    
    &:focus,
    &:hover {
        border-color: black;
    }
}

ul, li {
    list-style: none;
}

h1, h2, h3, h4, h5, h6 {
    font-weight: 400;
    text-transform: uppercase;
    color: black;
    letter-spacing: 2px;
} 

input[type=text],
input[type=number] {
    border: 2px solid $secondary-color;
    background: transparent;
    -webkit-appearance: none;
    padding: 10px 12px;
    transition: border .15s;
    outline: none;
    
    &:hover,
    &:focus {
        border-color: black;
    }
}

.container {
    max-width: 960px;
    margin: 0 auto;
    position: relative;
}

.table-container {
    width: 500px;
    padding: 20px;
    float: left;
}

.report-container {
    width: 300px;
    padding: 80px 20px 20px;
    float: left;
    
    h1 {
        font-size: 14px;
        letter-spacing: 2px;
    }
    
    input {
        font-size: 20px;
        letter-spacing: 1px;
        width: 100%;
    }
    
    li {
        margin-bottom: 30px;
    }
}

.button-container {
    text-align: center;
    
    button {
        margin-right: 5px;
    }
}

.heading {
    color: white;
    text-align: center;
}


/// custom select
.custom-select {    
    background: transparent;
    overflow: hidden;
    border: 2px solid $secondary-color;
    border-radius: 3px;
    position: relative;
    
    &:focus,
    &:hover {
        
        &, &:after {
            border-color: black;
            color: black;   
        }
    }

    &:after {
        content: '▾';
        position: absolute;
        top: 0;
        right: 14px;
        z-index: 1;
        color: $secondary-color;
        line-height: 40px;
        font-size: 16px;

        .ie & {
            display: none;
        }
    }
}

select {
    position: relative;
    background: transparent;
    background-image: none;
    display: block;
    width: 100%;
    outline: none;
    color: black;
    cursor: pointer;
    z-index: 2;
    border: none;
    padding: 14px 10px 14px 5px;
    font-size: 16px;
    
    // This is so hacky.. (for Firefox)
    // Removes the default select arrow.
    text-overflow: '';
    text-indent: 5px;
    // End of brutal hack

    // @include appearance(none);
    -moz-appearance: none;
    -webkit-appearance: none;
    appearance: none;

    &[multiple=multiple] {
        height: auto;
        border: 1px solid $secondary-color;
        border-radius: 3px;
        
        &:hover {
            border-color: $secondary-color;
        }
    }

    option[disabled] {
        color: #eeeeee;
        text-shadow: none;
        border: none;
    }
}

select:-moz-focusring {
    color: transparent;
    text-shadow: 0 0 0 #888888;
}

select::-ms-expand {
    display: none;
}